.add-task-form-container, 
.task-details-container {
  margin-bottom: 2rem;
  border: 1px solid $color-grey;
  border-radius: $radius-normal;
  padding: 1rem;
}

.add-task-form {
  display: flex;
  justify-content: center;
  flex-wrap:  wrap;

  &__group {
    padding: 1.2rem;
  }
}

.task-list {
  list-style: none;
}

.task-item {
  padding: 1rem;
  display: flex;
  align-items: center;
  border: 1px solid $color-grey;
  border-radius: $radius-normal;
  margin: 1rem 0;

  &__nickname {
    flex: 1 0 0;
  }

  & > * {
    margin: 0 2rem;
  }
}

.task-details {
  display: flex;
  justify-content: center;

  &__group {
    margin: 1rem 0;
  }

  &__label {
    margin-right: 1rem;
    text-decoration: underline;
  }
}

