*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 2rem;
  height: 100vh; }

input,
button {
  padding: .5rem; }

button {
  cursor: pointer; }

label {
  margin-right: 1rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1; }

.heading-secondary {
  font-size: 1.6rem;
  margin-bottom: 1rem; }

.error {
  color: #ff0000; }

.add-task-form-container,
.task-details-container {
  margin-bottom: 2rem;
  border: 1px solid #b9b9b9;
  border-radius: 0.8rem;
  padding: 1rem; }

.add-task-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .add-task-form__group {
    padding: 1.2rem; }

.task-list {
  list-style: none; }

.task-item {
  padding: 1rem;
  display: flex;
  align-items: center;
  border: 1px solid #b9b9b9;
  border-radius: 0.8rem;
  margin: 1rem 0; }
  .task-item__nickname {
    flex: 1 0 0; }
  .task-item > * {
    margin: 0 2rem; }

.task-details {
  display: flex;
  justify-content: center; }
  .task-details__group {
    margin: 1rem 0; }
  .task-details__label {
    margin-right: 1rem;
    text-decoration: underline; }

.task-details-section {
  padding: 6rem; }
