//simple html5 reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this defines what 1rem is 
  font-size: 62.5%; //1 rem is 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  padding: 2rem;
  height: 100vh;
}

input,
button {
  padding: .5rem;
}

button { cursor: pointer; }

label {
  margin-right: 1rem;
}